<h2 class="govuk-heading-l">Application progress</h2>

<div class="dfe-timeline">
    <ol>
        <li class="todo">
            <h3 class="govuk-heading-s">Complete</h3>
            <p class="govuk-body govuk-body-s">Awaiting outcome of processing</p>
        </li>
        <li class="doing">
            <h3 class="govuk-heading-s">Application processing</h3>
            <p class="govuk-body govuk-body-s  govuk-!-margin-bottom-2">By ESFA</p>
            <p class="govuk-body govuk-body-s  govuk-!-margin-bottom-2">
                <a href="/finance-application-outcome">View progress</a>
            </p>
        </li>
        <li class="done">
            <h3 class="govuk-heading-s">Application received</h3>
            <p class="govuk-body govuk-body-s  govuk-!-margin-bottom-2">By ESFA</p>
            <p class="govuk-body govuk-body-s govuk-!-margin-bottom-0">Accepted by ESFA on 17 September 2023 at 11:22am</p>
        </li>
        <li class="done">
            <h3 class="govuk-heading-s">Application submitted</h3>
            <p class="govuk-body govuk-body-s govuk-!-margin-bottom-2">By Jill Smith on 17 September 2023 at 9:32am</p>
            <p class="govuk-body govuk-body-s govuk-!-margin-bottom-0">We sent you, and 8 other people a confirmation email.</p>
        </li>
        <li class="done">
            <h3 class="govuk-heading-s">Application approvals</h3>
            <p class="govuk-body govuk-body-s  govuk-!-margin-bottom-2">
                <a href="/finance-application-approval">View details</a>
            </p>
            <p class="govuk-body govuk-body-s">Completed 16 September 2023</p>
        </li>
        <li class="done">
            <h3 class="govuk-heading-s">Complete application</h3>
            <p class="govuk-body govuk-body-s  govuk-!-margin-bottom-2">
                <a href="/finance-application-detail">View details</a>
            </p>
            <p class="govuk-body govuk-body-s govuk-!-margin-bottom-0">Completed by Jill Smith on 15 September 2023</p>
        </li>
        <li class="done">
            <h3 class="govuk-heading-s">Eligibility checks</h3>
            <p class="govuk-body govuk-body-s  govuk-!-margin-bottom-2">
                <a href="/finance-application-eligibility">View details</a>
            </p>
            <p class="govuk-body govuk-body-s govuk-!-margin-bottom-0">Completed by Jill Smith on 12 September 2023</p>
        </li>

    </ol>
</div>