<div class="dfe-page-header">
    <div class="govuk-width-container dfe-width-container dfe-width-container-fluid">

        <a href="/finance-eligibility" class="govuk-back-link">Back to funding options</a>

        <div class="govuk-grid-row govuk-!-margin-top-4">

            <div class="govuk-grid-column-full">
                <span class="govuk-caption-l">Guidance</span>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Future Digital Leaders Fund</h1>

                <nav class="app-sub-navigation govuk-!-margin-bottom-0" aria-label="Application menu">
                    <ul class="app-sub-navigation__list">

                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" {% if view === 'overview' %} aria-current="page" {% endif %} href="/finance-cif">Basic information</a>
                        </li>
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" {% if view === 'timescales' %} aria-current="page" {% endif %} href="/finance-cif-timescales">Timescales</a>
                        </li>
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link"  {% if view === 'eligibility' %} aria-current="page" {% endif %}href="/finance-cif-eligibility">Eligibility</a>
                        </li>
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link"  {% if view === 'applications' %} aria-current="page" {% endif %}href="/finance-cif-applications">Application guidance</a>
                        </li>

                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link"  {% if view === 'apply' %} aria-current="page" {% endif %}href="/finance-cif-apply">Apply</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>

    </div>

</div>