<div class="dfe-page-header">
    <div class="govuk-width-container dfe-width-container dfe-width-container-fluid">
        <div class="govuk-grid-row ">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-l govuk-!-margin-top-5">Multi-academy trust</span>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Arden Multi Academy Trust</h1>
                <table class="govuk-table govuk-!-margin-bottom-5">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">URN</th>
                            <th scope="col" class="govuk-table__header">Group Identifier</th>
                            <th scope="col" class="govuk-table__header">Schools in trust</th>
                            <th scope="col" class="govuk-table__header">Authority</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">10058364</th>
                            <td class="govuk-table__cell">TR00078</td>
                            <td class="govuk-table__cell">7 - <a href="/schools" class="govuk-link">View</a>
                            </td>
                            <td class="govuk-table__cell">City of Westminster</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>