{% extends "layouts/admin.html" %}

{% set selectedNav = "Funding" %}
{% set pageName = "Finance" %}
{% set pageDescription = "" %}
{% set trust = true %}

{% set view = "overview" %}

{% block hero %}
  <div class="dfe-page-header">
    <div class="govuk-width-container dfe-width-container dfe-width-container-fluid">

      <a href="/finance-applications" class="govuk-back-link">Back to your applications</a>

      <div class="govuk-grid-row govuk-!-margin-top-4">

        <div class="govuk-grid-column-full">

          <span class="govuk-caption-l">Application</span>
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">School Beehives Grant</h1>

          <table class="govuk-table govuk-!-margin-bottom-5">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Amount</th>
                <th scope="col" class="govuk-table__header">Reference</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <strong class="govuk-tag">Processing</strong>
                </th>
                <td class="govuk-table__cell">£4,200</td>
                <td class="govuk-table__cell">BEE-2023-5824</td>
              </tr>
            </tbody>
          </table>

          <nav class="app-sub-navigation govuk-!-margin-bottom-0" aria-label="Application menu">
            <ul class="app-sub-navigation__list">
              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link" {% if view === 'overview' %} aria-current="page" {% endif %} href="/finance-application">Overview and actions</a>
              </li>
              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link"  {% if view === 'eligibility' %} aria-current="page" {% endif %}href="/finance-application-eligibility">Eligibility</a>
              </li>
              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link"  {% if view === 'application' %} aria-current="page" {% endif %}href="/finance-application-detail">Application</a>
              </li>
              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link"  {% if view === 'submission' %} aria-current="page" {% endif %}href="/finance-application-approval">Approvals and submission</a>
              </li>
              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link"  {% if view === 'outcome' %} aria-current="page" {% endif %}href="/finance-application-outcome">Outcome</a>
              </li>

            </ul>
          </nav>

        </div>
      </div>

    </div>

  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">

      {% include './_app_timeline.html' %}

    </div>

    <div class="govuk-grid-column-one-half">

    
      <h2 class="govuk-heading-l">What this funding is</h2>

      <p>The Department for Education (DfE) provides a grant to support setting up beehives on school premises.</p>

      <p>The funding covers:</p>

      <ul>
        <li>training up to 5 beekeepers with the National Bee Unit provided by the Animal and Plant Health Agency</li>
        <li>nstallation of up to 3 beehives and provision of bee colony</li>
        <li>membership of the National Beekeepers Association</li>
      </ul>
   
      <p>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <a class="govuk-link" href="https://www.gov.uk/" target="_blank">School beehive funding guidance on GOV.UK</a>
      </p>

    </div>

  </div>

{% endblock %}