<p class="govuk-heading-m">You asked:</p>
<p>How do I deal with complaints from parents?</p>
<p class="govuk-heading-m">This is what I have found:</p>
<p>Your complaint's policy can be found in the compliance section, under "<a href="/compliance-policies">Our complaints procedure</a>"
</p>
<p>Here is an overview of your policy:</p>
<div class="dfe-timeline">
    <ol>
        <li class="">
            <h3 class="govuk-heading-s">Acknowledge the complaint</h3>
            <p class="govuk-body">In writing or by email, within 5 working days</p>
        </li>
          <li class="">
            <h3 class="govuk-heading-s">Stage 1</h3>
            <p class="govuk-body">Investigate and provide a response within 10 working days</p>
        </li>
          <li class="">
            <h3 class="govuk-heading-s">Stage 2</h3>
            <p class="govuk-body">Complainant can escalate within 10 working days of the response</p>
              <p class="govuk-body">Acknowledge the escalation within 5 working days</p>
              <p class="govuk-body">Investigate and respond within 20 working days</p>
        </li>
          <li class="">
            <h3 class="govuk-heading-s">Stage 3</h3>
            <p class="govuk-body">Complainant can escalate within 10 working days of the response</p>
              <p class="govuk-body">Acknowledge the escalation within 5 working days</p>
              <p class="govuk-body">Governors and trustees investigate and respond within 20 working days</p>
        </li>
          <li class="">
            <h3 class="govuk-heading-s">Escalation to DfE</h3>
            <p class="govuk-body">Complainant can escalate within 10 working days of the response</p>
        </li>
    </ol>
</div>