{% extends "layouts/admin.html" %}

{% set selectedNav = "Schools" %}
{% set pageName = "Trust Overview" %}
{% set pageDescription = "" %}
{% set trust = true %}

{% block hero %}
  {% include './_mat_header.html'%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row  govuk-!-margin-top-0">
    <div class="govuk-grid-column-full">
      <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-5">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/schools">Schools</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/schools-detail">Tudor Science Academy</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/schools-detail-update">Update information</a>
          </li>
        </ol>
      </div>
      <h2 class="govuk-heading-l">Tudor Science Academy</h2>
    </div>
    <div class="govuk-grid-column-one-half">

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Details</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Manage full details<span class="govuk-visually-hidden"> of Tudor Science Academy</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
          Address
        </dt>
              <dd class="govuk-summary-list__value">
          Silvertown Way<br/>London<br/>E16 2YY
        </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
          URN
        </dt>
              <dd class="govuk-summary-list__value">
          1243347	
        </dd>

            </div>

          </dl>
        </div>
      </div>

    </div>



  </div>

{% endblock %}